.Job-Traking-Main {
    padding: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .Add-Job {

        padding: 1.2rem;
        border-radius: 20px;

        .Title {
            padding: 0.2rem;

        }

        .Row {
            display: flex;

            .Input {
                margin: 4px;
            }

            .Select {
                margin: 4px;
            }

            .Button {
                margin: 4px;
            }
        }

    }



    .Table {
        padding: 30px;

        .Title {
            padding: 0.2rem;

        }

        padding: 1.2rem;
        border-radius: 20px;
        margin-top: 1%;
    }
}